div.wtd-overdue {
  display: flex;
  align-items: center;
  color: #ff3b3b;
  & > div {
    background: #ff3b3b;
    margin: 0 8px;
    border-radius: 50px;
    font-size: 12px;
    letter-spacing: 1px;
    width: 80px;
    padding: 0 10px;
    height: 18px;
    color: white;
    text-align: center;
  }
}

div.wtd-due {
  display: flex;
  align-items: center;
  color: #ffa33bff;
  & > div {
    background: #ffa33bff;
    margin: 0 8px;
    border-radius: 50px;
    font-size: 12px;
    letter-spacing: 1px;
    width: 50px;
    padding: 0 10px;
    height: 18px;
    color: white;
    text-align: center;
  }
}

button.wtd-new-button {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #ea4c89;
  font-size: 20px;
  letter-spacing: 2px;
  min-width: 200px;
  color: white;
  height: 50px;
  width: 100%;
}

.ant-divider-inner-text {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #6e6d7a;
}

.ant-table-wrapper {
  width: 100%;

  .ant-table {
    border: solid #d9d9d9 1px;
    border-radius: 6px;
    padding-bottom: 15px;
  }

  thead.ant-table-thead {
    height: 30px;
    padding-top: 10px;
    th.ant-table-cell {
      font-family: "Kanit", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 14px;
      letter-spacing: 1.4px;
      color: #6e6d7a;
      padding: 0 16px;
      background: none;
      border: none;
    }
  }

  tbody.ant-table-tbody {
    & > tr.ant-table-row {
      background: none;
      & > td.ant-table-cell {
        border-bottom: none;
      }
    }
  }
  .ant-checkbox-inner,
  .ant-checkbox-input {
    transform: scale(1.5) translate(4px, 0);
  }
  .ant-checkbox-inner::after {
    transform: rotate(45deg) scale(0.8) translate(-90%, -60%);
  }
}
